# List of SHENNANIGAN
# 1. IndentAccessModifiers: true causes useless indentation in structs, but
# false makes access modifiers like public be on same line as member fields.
# 2. Unintuitive setup for cases like `enum Color { red, green, blue };` via
# config BasedOnStyle: WebKit instead of LLVM
# 3. default ColumnLimit: 80 instead of more sane 100 or 120

# clang-format < 16
# AlignTrailingComments: true/false
# clang-format >= 16
# AlignTrailingComments:
#   Kind: Always
#   OverEmptyLines: 0

# C and C++
---
AlignEscapedNewlines: Left
AlignTrailingComments: true
BasedOnStyle: LLVM
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: Never
  AfterFunction: false
  AfterEnum: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
BreakBeforeBraces: Custom
BreakBeforeInheritanceComma: true
BreakConstructorInitializers: BeforeComma
ColumnLimit: 120
IndentAccessModifiers: false
IndentCaseLabels: true
IndentPPDirectives: None
IndentRequiresClause: false
IndentWidth: 2
InsertNewlineAtEOF: true
# clang clang-format 19
# KeepEmptyLines:
#   AtEndOfFile: true
LineEnding: LF
NamespaceIndentation: None
QualifierAlignment: Right
ReflowComments: false
RemoveSemicolon: true
RequiresClausePosition: WithFollowing
RequiresExpressionIndentation: OuterScope
SpaceAfterTemplateKeyword: false
TabWidth: 2
