CompileFlags:
  Add: [-std=c++23]

  # Add: [-std=c++14]
  # Add: [-std=c++17]
  # Add: [-std=c++20]
  # Add: [-std=c++23]
  # Add: [-std=c++26]
  # Add: [-std=c++29]
  # Add: [-std:c++latest]

  # Add: [-std=c89]
  # Add: [-std=c99]
  # Add: [-std=c11]
  # Add: [-std=c17]
  # Add: [-std=c23]
  # Add: [-std=c29]

# Core reasons for C++17 variant, pair and tuple destructuring, saner template programming
# Core reasons for C++20 concepts for sane template programming, consteval (constexpr bad), format
# Core reasons for C++23 stacktraces, std constexpr-ification, consteval, print
# Core reasons for C++26 enum_to_string, string_to_enum, reflection, iostream replacement
# Core reasons for C99   portable static integer sizes
# Core reasons for C11   generic selection, atomic, tls, threads, alignment
# Core reasons for C17   bug fixes and deprecations
# Core reasons for C23   attributes, digit separators ', nullptr, empty initializer, embed
#                       constexpr to prevent VLA + constant object init, auto + generic (without C++ compat)
# Core reasons for C29   relative sane UTF8 conversion
