# Core reason for C++17 variant, saner template programming
# Core reason for C++20 concepts for sane template programming, consteval
# Core reason for C++23 std constexpr-ification, consteval
# Core reason for C++26 enum_to_string, string_to_enum, reflection, iostream replacement
# Core reason for C99   portable static integer sizes
# Core reason for C11   generic selection, atomic, tls, threads, alignment
# Core reason for C17   bug fixes and deprecations
# Core reason for C23   attributes, digit separators ', nullptr, empty initializer, embed
# Core reason for C29   tba
CompileFlags:
  # Add: [-std=c++14]
  # Add: [-std=c++17]
  # Add: [-std=c++20]
  Add: [-std=c++23]
  # Add: [-std=c++26]
  # Add: [-std=c++29]

  # Add: [-std=c89]
  # Add: [-std=c99]
  # Add: [-std=c11]
  # Add: [-std=c17]
  # Add: [-std=c23]
  # Add: [-std=c29]
