# EditorConfig: https://EditorConfig.org
# git stores version tracked information as utf-8 and with lf
# tools, languages and compilers may or may not be able to convert or use other
# formats.
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true

[*.{c,h}]
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[*.{zig,zon}]
indent_size = 4

# [*.{c,cpp,h}]
# indent_size = tab
# indent_style = tab
# tab_width = 2
# tab_width defaults to indent_size

# to unset settings, ie due to unrepresentable utf-16-le-bom, use
# charset = unset

# [/some/explicit/path]
#   charset = utf-16
#   end_of_line = crlf

# SHENNANIGAN
# EditorConfig can not represent utf16-le-bom
# https://github.com/editorconfig/editorconfig/issues/467