# Git stores internally files as utf8 and with eol lf.
# Set default behavior to automatically normalize line endings.
* text=auto

# files to keep native line ending

# *.c text eol=crlf
# *.cpp text eol=crlf
# *.h text eol=crlf

# general files with explicit line ending and utf8 without bom compatible fmt
* text eol=lf
# specific files with explicit line ending and utf8 without bom compatible fmt
*.c text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.lua text eol=lf
*.txt text eol=lf
*.zig text eol=lf

# deviating rules
# Consider checking manually the bom and prefer UTF-16LE-BOM or UTF-16LE
# /some/explicit/path text working-tree-encoding=UTF-16 eol=CRLF

# binary files
# data/binary_data/** binary
# lib/include/** linguist-vendored

# SHENNANIGAN
# Legacy encodings like utf-16le-bom may get wrongly renormalized and/or
# detected.