#[includeIf "gitdir:~/workdir/"]
#  path = ~/.gitconfig-work
#[includeIf "gitdir:~/dotfiles/"]
#  path = ~/.gitconfig-personal
#[includeIf "gitdir:~/dev/"]
#  path = ~/.gitconfig-personal
# [user]
#   email = jan.hafer@rwth-aachen.de
#   name = Jan Philipp Hafer
#   signingkey = CEA64D337065BD87
[user]
  email = anon_1plus1equals3@mailbox.org
  name = Jan Philipp Hafer
  signingkey = 52726CA5A7E56E41!

#git mr branch issuenumber
# [alias]
#   mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
#[sequence]
#  editor = interactive-rebase-tool
[core]
  editor = vim
[credential]
  helper = cache --timeout=3600
[log]
  decorate = true
[pull]
  rebase = false
[core]
  autocrlf = false
# handled via cli option
# [commit]
#  gpgsign = true

# git config --list --system
# git config --list --global
# git config --list --local
# git config --list --show-origin
# git config --get user.name
# git config --get user.email
