Place the following into
/usr/share/applications/ for global user access
${HOME}/.local/share/applications/ for local user access

# manually created
[Desktop Entry]
Name=yEd Graph Editor
Comment=yEd Graph Editor
Exec=/opt/yed-3.18.2/yedcutor.sh
Icon=/opt/yed-3.18.2/icons/yicon16.png
Terminal=false
Type=Application

Further notes:
# converted by firecfg
[Desktop Entry]: Identifier
Type may be Application, Link or Directory
GenericName may be present, ie "Web Browser".
Comment may be present.
Terminal(required): Program runs in a terminal window?
Exec defines Program to execute (with arguments)
TryExec defines where program may be. Entry may be ignored on absence of file.

Debugging
1. Adding this entries to see what is being executed
Terminal=true
TerminalOptions=\s--noclose
2. Use tool `desktop-file-validate` inside `desktop-files-utils` package
(does not show errors on invalid entry in Exec)
3. Try https://github.com/jceb/dex
4. Check syslogs
